.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
}

.item {
  max-width: 1152px;
  margin: 0 auto;
}

.card {
  border: 3px solid #252529;
  border-radius: 12px;
  padding: 1rem 1.5rem;
}
