/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner {
  background: linear-gradient(45deg, rgb(113, 26, 95), #fda7df 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5rem;
  text-transform: none;
  min-width: 130px;
  border-radius: 8px;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
