.teamMembers .container {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

@media (min-width: 375px) {
  .teamMembers .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.container {
  display: grid;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
}
